<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AOTC</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    
    
    <style> .dataTables_wrapper .ui-toolbar {
        padding: 0px;
        BACKGROUND: #f5f5f5;
        }</style>
    
    
    
    <link href="//datatables.net/download/build/nightly/jquery.dataTables.css" rel="stylesheet" type="text/css" />

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//datatables.net/download/build/nightly/jquery.dataTables.js"></script>


    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.jqueryui.min.css">

    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    
    
</head>


<body style="    background-color: #f5f5f5;">

    <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="http://aotc.mybluemix.net/#!/main"><img src="assets/img/logo.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="header-btn">
                    <ul>
                        <li id="prp" class="metro-header">
                            <a href="#"> <span class="image-pr"></span> </span><span>Property</span></a>
                        </li>
                        <li class="metro-header">
                            <a href="#"> <span class="image-de"></span> </span><span>Designee</span></a>
                        </li>
                        <li class="metro-header">
                            <a href="#"> <span class="image-no"></span> </span><span>Notification</span></a>
                        </li>
                        <li class="metro-header">
                            <a href="#"> <span class="image-lg"></span> </span><span>Logs</span></a>
                        </li>
                        <li class="metro-header welcome">
                            <a href="#" style="color: #fff;     padding: 0px 15px 0px 15px;"> <span class="image-ph"></span> </span><span>Welcome Annie</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <br>
  
         


<div class="container sent-invite">
 <div class="panel panel-primary   user-reg">
      <div class="panel-heading">   <h5> <i class="fa fa-user" aria-hidden="true"></i> 
                              <strong>  Users </strong>

                               

          <button  onclick="location.href = '13-Userregistration.html';"   type="button" class="btn btn-user pull-right" style="margin-top: -6px; margin-right: 20px;"> <i class="fa fa-upload" aria-hidden="true"></i> Bulk Create </button>

          <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-user pull-right" style="    margin-top: -6px; margin-right: 20px;"><i class="fa fa-user-plus" aria-hidden="true"></i> Add New User</button>



                            <h5></div>
      <div class="panel-body">   <div class="col-md-12" style="padding: 0px;">

          <table id="example"   class="invite display" datatable="" dt-options="main.dtOptions" dt-column-defs="main.dtColumnDefs" class="display responsive no-wrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Email Address</th>
                            <th>Invite Sent On</th>
                            <th>Status</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
        
                    <tbody>
                        <tr>
                            <td>Alvi Sadiq</td>
                            <td>alvi@gmail.com</td>
                            <td>22/2/2017</td>
                            <td>Pending</td>
                            <td> <a class="text-muted" href="#"> Resend </a></td>

                        </tr>
                        <tr>
                            <td>Hamza</td>
                            <td>hamza@gmail.com</td>
                            <td>22/2/2017</td>
                            <td>Accepted</td>
                            <td class="text-success"><a href="#">Deactivate </a></td>

                        </tr>
                        <tr>
                            <td>Najam Bahi</td>
                            <td>najam.bahi@live.com</td>
                            <td>22/2/2017</td>
                            <td>Pending</td>
                            <td class="text-muted"><a href="#"> Deactivate </a></td>

                        </tr>
                        <tr>
                            <td>M. Daniyal</td>
                            <td>daniyal@spsnet.com</td>
                            <td>22/2/2017</td>
                            <td>Pending</td>
                            <td><a href="#"> Deactivate </a></td>
                        </tr>
                        <tr>
                            <td>M.Gull</td>
                            <td>Gull.sir@gmail.com</td>
                            <td>22/2/2017</td>
                            <td>Pending</td>
                            <td><a class="text-muted" href="#"> Resend </a></td>
                        </tr>

                        <tr>
                            <td>Hamza</td>
                            <td>hamza@gmail.com</td>
                            <td>22/2/2017</td>
                            <td>Accepted</td>
                            <td><a href="#"> Deactivate </a></td>
                        </tr>
                        <tr>
                            <td>Najam Bahi</td>
                            <td>najam.bahi@live.com</td>
                            <td>22/2/2017</td>
                            <td>Pending</td>
                            <td><a class="text-muted" href="#"> Deactivate </a></td>
                        </tr>
                        <tr>
                            <td>M. Daniyal</td>
                            <td>daniyal@spsnet.com</td>
                            <td>22/2/2017</td>
                            <td>Pending</td>
                            <td><a href="#"> Deactivate </a></td>
                        </tr>
                        <tr>
                            <td>M.Gull</td>
                            <td>Gull.sir@gmail.com</td>
                            <td>22/2/2017</td>
                            <td>Pending</td>
                            <td><a href="#"> Deactivate </a></td>
                        </tr>

                        <tr>
                            <td>Hamza</td>
                            <td>hamza@gmail.com</td>
                            <td>22/2/2017</td>
                            <td>Accepted</td>
                            <td><a href="#"> Deactivate </a></td>
                        </tr>
                        <tr>
                            <td>Najam Bahi</td>
                            <td>najam.bahi@live.com</td>
                            <td>22/2/2017</td>
                            <td>Pending</td>
                            <td><a href="#"> Deactivate </a></td>
                        </tr>
                        <tr>
                            <td>M. Daniyal</td>
                            <td>daniyal@spsnet.com</td>
                            <td>22/2/2017</td>
                            <td>Pending</td>
                            <td><a href="#"> Deactivate </a></td>
                        </tr>
                        <tr>
                            <td>M.Gull</td>
                            <td>Gull.sir@gmail.com</td>
                            <td>22/2/2017</td>
                            <td>Pending</td>
                            <td><a href="#"> Deactivate </a></td>    
                        </tr>

                    </tbody>
                </table>

            </div></div>
    </div>

</div>






   <!-- Modal -->
            <div class="modal fade user-reg" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

 <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title">Add New User</h5>
      </div>


                        
                        <div class="modal-body">
                        <form>





<div class="container">
    <div class="row">
        <div class="col-md-12">
            



                             <div class='form-group required'>
                                 <label> <i class="fa fa-envelope" aria-hidden="true"></i> User Email</label>
                                <input class='form-control alldisable'   type='text' placeholder="User email ">
                            </div>



            <button data-toggle="collapse" data-target="#filter-panel" type="button" class="btn btn-user  pushme btn-number" data-type="plus" data-field="quant[1]">
                Show more information 
<!--                <span class="glyphicon glyphicon-plus"></span>-->
              </button>


            <script>
                $(".pushme").click(function () {
                    $(this).text(function(i, v){
                        return v === 'Show less information' ? 'Show more information' : 'Show less information'
                    })
                });
            </script>





<br><br>
<div id="filter-panel" class="collapse filter-panel">

                              
    
    <div class='form-group required'>
        <label> <i class="fa fa-user" aria-hidden="true"></i> First Name</label>
        <input class='form-control alldisable'  type='text' placeholder="First name">
    </div>
    
    
    <div class='form-group required'>
        <label> <i class="fa fa-user" aria-hidden="true"></i> Last Name</label>
        <input class='form-control alldisable'  type='text' placeholder="Last name">
    </div>
    
    
    
                            <div class='form-group required'>
                                <label> <i class="fa fa-building" aria-hidden="true"></i> Company</label>
                                <input class='form-control alldisable'  type='text' placeholder="Company">
                            </div>
                            <div class='form-group required'>
                                <label> <i class="fa fa-map-marker" aria-hidden="true"></i> City</label>
                                <input class='form-control alldisable'  type='text' placeholder="City">
                            </div>
    
    
   
                         
    
    <div class='form-group required'>
        <label> <i class="fa fa-user-secret" aria-hidden="true"></i> Customer Type</label>
        
        <select class="form-control btn btn-default" data-ng-options="t.name for t in vm.types" data-ng-model="vm.object.type">

                <option>Paying</option>
                <option>Nonpaying</option>
         
            </select>
       
    </div>
    
    
    
    
    
    
    
    
    <div class='form-group required'>
        <label> <i class="fa fa-cogs" aria-hidden="true"></i> Role</label>
    <div class="input-group-btn">
        <select class="form-control btn btn-default" data-ng-options="t.name for t in vm.types" data-ng-model="vm.object.type">

            <option>Owner</option>
            <option>Agent</option>
            <option>Asset Manager</option>
            <option>Taxing Authority</option>
            <option>Assessing Authority</option>
            <option>Petitioner</option>
            <option>Respondent</option>
        </select>
    </div>
    </div>
    
    
    
    
    

</div>













          </div>
        </div>
    </div>
</div>




                          



                            

                        </form>

                        <!-- Usage as a class -->
                        <div class="clearfix">...</div>
                        
                        <div class="checkbox" style="    position: relative;
                                                     display: initial;
                                                     right: -340px;
                                                     top: -13px;
                                                     width: 100%;
                                                     margin-top: 10px;
                                                     margin-bottom: 10px;">
          <label><input class="pull-right" type="checkbox" value="">Create another</label>
         </div>
                        
                        
<button onclick="location.href = '#';"  type="button" class="btn btn-user pull-right" style="margin: 32px; z-index:111; margin-top: -20px;" id="success-btn">Invite</button>



<!-- Usage as a class -->
<div class="clearfix">...</div>



                        </div>
                    </div>

                </div>
            </div>









<div class="alert-box success"> <i class="fa fa-check-circle" aria-hidden="true"></i> Invitation sent successfully </div>







    <!-- Footer -->
    <footer class="text-center">Copyrights - 2017</footer>

    

    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
    </script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/main2.js"></script>



<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>






<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>




<script src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js"></script>





</body>

</html>