<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AOTC</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">

    <style>
        .dataTables_wrapper .ui-toolbar {
            padding: 0px;
            BACKGROUND: #f5f5f5;
        }
        
        
        input[type="checkbox"] {
    display: block !important;
}
        
        
      .toggle-button {    background-color: #f44336;
    border: 2px solid #f44336; margin: 5px 0; border-radius: 20px; bor der: 2px solid #D0D0D0; height: 24px; cursor: pointer; width: 50px; position: relative; display: inline-block; user-select: none; -webkit-user-select: none; -ms-user-select: none; -moz-user-select: none; }
.toggle-button span { position: absolute; left: 0; top: 0; border-radius: 100%; width: 26px; height: 26px; background-color: white; float: left; margin: -3px 0 0 -3px; border: 2px solid #D0D0D0; transition: left 0.3s; }
.toggle-button-selected {
    background-color: #009688;
    border: 2px solid #009688;
}
.toggle-button-selected span { left: 26px; top: 0; margin: 0; border: none; width: 24px; height: 24px; box-shadow: 0 0 4px rgba(0,0,0,0.1); }

.center { text-align:center; }
        
        
        table .collapse.in {
	display:table-row;
            backgro und: red !important;
}
        
        
    </style>


    <link rel="stylesheet" href="assets/css/main.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>






    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.jqueryui.min.css">

    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

 
</head>

<body style="    background-color: #f5f5f5;">


    <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="http://aotc.mybluemix.net/#!/main"><img src="assets/img/logo.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="header-btn">
                    <ul>
                        <li id="prp" class="metro-header">
                            <a href="#"> <span class="image-pr"></span>  <span>Property</span></a>
                        </li>
                        <li class="metro-header">
                            <a href="#"> <span class="image-de"></span>  <span>Designee</span></a>
                        </li>
                        <li class="metro-header">
                            <a href="#"> <span class="image-no"></span>  <span>Notification</span></a>
                        </li>
                        <li class="metro-header">
                            <a href="#"> <span class="image-lg"></span>  <span>Logs</span></a>
                        </li>
                        <li class="metro-header welcome">
                            <a href="#" style="color: #fff;     padding: 0px 15px 0px 15px;"> <span class="image-ph"></span>  <span>Welcome Annie</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>









    <div class="contai ner">

        <br> <br>

        <div class="row">
<!--

             <div class="col-md-2"> 
            
            
            
            
                                    <div  class="pull-left" style="    margin-top: -19px; margin-right: 20px;">
                                  
              <span > Add to Multi Account </span>        
    <div class="toggle-button toggle-button-selected">
        <span></span>
    </div>
    
            <span> Add to Multi Part  </span>                      
                                  
                                  
                                  
                                  
</div>
            
            
            
            
            
           <button type="button" class="btn btn-primary">Move this to Multi Part</button>
<button type="button" class="btn btn-success">Move this to Multi Account</button> 
            
            
            
            
            
            
            </div>
-->
            
            
            
            


            <div class="col-md-12">


                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h5>   <strong>View Property Details </strong>
                            
                              <a class="pull-right fa fa-upload" style="cursor:pointer;   margin-left: 12px;    margin-top: 2px;    color: white;" ui-sref="multipleUploadIERR" href="#!/multipleUploadIERR"><strong style="font-family: Helvetica,Arial,sans-serif;font-size: 12px;"> Upload Multiple IE &amp; RR </strong></a>


                        <span class="pull-right" style="cursor:pointer;      margin-top: 2px;    color: white;">|</span>

                        <a class="pull-right fa fa-upload" style="cursor:pointer; margin-right: 12px;   margin-top: 2px;    color: white;" ui-sref="PropertiesData" href="#!/upload-properties-data"><strong style="font-family: Helvetica,Arial,sans-serif;font-size: 12px;"> Upload Properties</strong></a>


                      
                        </h5>
                        
                       
                        
                    </div>
                    <div class="panel-body drop-file">

               

 





 
                       




  
<!-- Modal -->
<div id="myModalprpdetails" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">

    <!-- Modal content-->
    <div class="modal-content" style="    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    color: #545454;">
     
             <div class="modal-body text-center">
			 
        <h4>Are you sure to move these entries to [multi part/multi Acc] ?</h4>
     
          
                 
                           
<button  data-dismiss="modal"   type="button" class="btn btn-user  pull-center" style="margin: 12px; z-index:111; background: #F44336; !Important">No</button>  
                
                                        
<button data-dismiss="modal"  type="button" class="btn btn-user  pull-center" style="margin: 12px; z-index:111; ">Yes</button> 
                
                
   
                    <div class="clearfix"></div>
                   
                
            </div>
   
    </div>

  </div>
</div>






                        <div class="user-reg">
                            <div class="row">
  
                          <div class="legends">
                                
                            
                              
                              
        <div id="ShowMeDIV" class="pull-left" style="display: none;">
                              
                                          
           <button  data-toggle="modal" data-target="#myModalprpdetails" type="button" class="key1 btn ">Move this to Multi Part</button>
<button   data-toggle="modal" data-target="#myModalprpdetails" type="button" class=" key2 btn ">Move this to Multi Account</button> 
            
            
                              </div> 
                              

                            
                                 <span  class="pull-right" style="    margi n-top: -19px; margin-right: 20px;"> <span class="key2"> &nbsp &nbsp &nbsp</span>  Multi Account  </span>
                              
                              
                                
                               <span class="pull-right" style="    ma rgin-top: -19px; margin-right: 20px;"> <span class="key1"> &nbsp &nbsp &nbsp</span> Multi Part  </span>
                        
                      
                        
                      
                                
                               
                                
                                </div>     
                                 
                                
                                
                                <div class="col-md-12 well  up-sec parsefile">



                                    <table table table-responsive table-hover id="example" datatable="" dt-options="main.dtOptions" dt-column-defs="main.dtColumnDefs" class="display responsive no-wrap" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>

                                                <th> </th>
                                                <th>Property Number </th>
                                                <th>Property Name</th>
                                                <th>Owner Name</th>
                                                <th>Property Manager</th>
                                                  <th  colspan="2" scope="colgroup" class="text-center"> Actions</th>
                                            
                                            </tr>

                                        </thead>

                                        <tbody>
                                            
                                  
                                            
 <tr   class="clickable key1" data-toggle="collapse" id="row1" data-target=".row1">
                                                <td>
                                            <input   class="MyCheckBox" type="checkbox" ng-model="personalDetail.selected"/></td>
                                                <td><i class="glyphicon glyphicon-plus"></i> C0487</td>
                                                <td> aaaaaaaResearch Plaza </td>
                                                <td> The Realty Associates Fund VIII</td>
                                                <td> Mary McCarthy </td>
                                                <td  > <button  class="btn-uploadIERR" type="button"  onclick="location.href = '22-UploadManual.html';" style="width: 100%;">Upload <i class="fa fa-upload" aria-hidden="true"></i>   </button>
                                                   </td>
                                                   
                                                <td  > <button  class="btn-viewIERR" type="button"  onclick="location.href = '18-ViewIE_RR.html';"  style="width: 100%;">View <i class="fa fa-eye" aria-hidden="true"></i>   </button> </td>
                                                
                                                   
                                                   
                                                   
                                                   
       
                                            </tr>           <tr   class="collapse row1 key1">
                                                <td>
                                            <input type="checkbox" class="MyCheckBox" ng-model="personalDetail.selected"/></td>
                                                <td>  C0487</td>
                                                <td> Research Plaza </td>
                                                <td> The Realty Associates Fund VIII</td>
                                                <td> Mary McCarthy </td>
                                                <td  > <button  class="btn-uploadIERR" type="button"  onclick="location.href = '22-UploadManual.html';" style="width: 100%;">Upload <i class="fa fa-upload" aria-hidden="true"></i>   </button>
                                                   </td>
                                                   
                                                <td  > <button  class="btn-viewIERR" type="button"  onclick="location.href = '18-ViewIE_RR.html';"  style="width: 100%;">View <i class="fa fa-eye" aria-hidden="true"></i>   </button> </td>
                                                
                                                   
                                                   
                                                   
                                                   
       
                                            </tr>
 <tr   class="collapse row1 key1">
                                                <td>
                                            <input type="checkbox" class="MyCheckBox" ng-model="personalDetail.selected"/></td>
                                                <td>  C0487</td>
                                                <td> Research Plaza </td>
                                                <td> The Realty Associates Fund VIII</td>
                                                <td> Mary McCarthy </td>
                                                <td  > <button  class="btn-uploadIERR" type="button"  onclick="location.href = '22-UploadManual.html';" style="width: 100%;">Upload <i class="fa fa-upload" aria-hidden="true"></i>   </button>
                                                   </td>
                                                   
                                                <td  > <button  class="btn-viewIERR" type="button"  onclick="location.href = '18-ViewIE_RR.html';"  style="width: 100%;">View <i class="fa fa-eye" aria-hidden="true"></i>   </button> </td>
                                                
                                                   
                                                   
                                                   
                                                   
       
                                            </tr>   
                               
 <tr   class="key4Spliter" >
                                      <td></td>
                                              <td></td>  <td></td>  <td></td>  <td></td>  <td></td>  <td></td>    
                                                   
                                                   
                                                   
                                                   
       
                                            </tr>                                    
                                            
       
                               
              <tr   class=" key3">
                                                <td>
                                            <input type="checkbox" class="MyCheckBox" ng-model="personalDetail.selected"/></td>
                                                <td>   C0487</td>
                                                <td> Research Plaza </td>
                                                <td> The Realty Associates Fund VIII</td>
                                                <td> Mary McCarthy </td>
                                                <td  > <button  class="btn-uploadIERR" type="button"  onclick="location.href = '22-UploadManual.html';" style="width: 100%;">Upload <i class="fa fa-upload" aria-hidden="true"></i>   </button>
                                                   </td>
                                                   
                                                <td  > <button  class="btn-viewIERR" type="button"  onclick="location.href = '18-ViewIE_RR.html';"  style="width: 100%;">View <i class="fa fa-eye" aria-hidden="true"></i>   </button> </td>
                                                
                                                   
                                                   
                                                   
                                                   
       
                                            </tr>     
               <tr   class=" key3">
                                                <td>
                                            <input type="checkbox" class="MyCheckBox" ng-model="personalDetail.selected"/></td>
                                                <td>   C0487</td>
                                                <td> Research Plaza </td>
                                                <td> The Realty Associates Fund VIII</td>
                                                <td> Mary McCarthy </td>
                                                <td  > <button  class="btn-uploadIERR" type="button"  onclick="location.href = '22-UploadManual.html';" style="width: 100%;">Upload <i class="fa fa-upload" aria-hidden="true"></i>   </button>
                                                   </td>
                                                   
                                                <td  > <button  class="btn-viewIERR" type="button"  onclick="location.href = '18-ViewIE_RR.html';"  style="width: 100%;">View <i class="fa fa-eye" aria-hidden="true"></i>   </button> </td>
                                                
                                                   
                                                   
                                                   
                                                   
       
                                            </tr>                  
                                            
                                
                                            
 <tr   class="clickable key2" data-toggle="collapse" id="row2" data-target=".row2">
                                                <td>
                                            <input type="checkbox" class="MyCheckBox" ng-model="personalDetail.selected"/></td>
                                                <td><i class="glyphicon glyphicon-plus"></i> C0487</td>
                                                <td> Research Plaza </td>
                                                <td> The Realty Associates Fund VIII</td>
                                                <td> Mary McCarthy </td>
                                                <td  > <button  class="btn-uploadIERR" type="button"  onclick="location.href = '22-UploadManual.html';" style="width: 100%;">Upload <i class="fa fa-upload" aria-hidden="true"></i>   </button>
                                                   </td>
                                                   
                                                <td  > <button  class="btn-viewIERR" type="button"  onclick="location.href = '18-ViewIE_RR.html';"  style="width: 100%;">View <i class="fa fa-eye" aria-hidden="true"></i>   </button> </td>
                                                
                                                   
                                                   
                                                   
                                                   
       
                                            </tr>            <tr   class="collapse row2 key2">
                                                <td>
                                            <input type="checkbox" class="MyCheckBox" ng-model="personalDetail.selected"/></td>
                                                <td>  C0487</td>
                                                <td> Research Plaza </td>
                                                <td> The Realty Associates Fund VIII</td>
                                                <td> Mary McCarthy </td>
                                                <td  > <button  class="btn-uploadIERR" type="button"  onclick="location.href = '22-UploadManual.html';" style="width: 100%;">Upload <i class="fa fa-upload" aria-hidden="true"></i>   </button>
                                                   </td>
                                                   
                                                <td  > <button  class="btn-viewIERR" type="button"  onclick="location.href = '18-ViewIE_RR.html';"  style="width: 100%;">View <i class="fa fa-eye" aria-hidden="true"></i>   </button> </td>
                                                
                                                   
                                                   
                                                   
                                                   
       
                                            </tr>                                     
   <tr   class="collapse row2 key2">
                                                <td>
                                            <input type="checkbox" class="MyCheckBox" ng-model="personalDetail.selected"/></td>
                                                <td>  C0487</td>
                                                <td> Research Plaza </td>
                                                <td> The Realty Associates Fund VIII</td>
                                                <td> Mary McCarthy </td>
                                                <td  > <button  class="btn-uploadIERR" type="button"  onclick="location.href = '22-UploadManual.html';" style="width: 100%;">Upload <i class="fa fa-upload" aria-hidden="true"></i>   </button>
                                                   </td>
                                                   
                                                <td  > <button  class="btn-viewIERR" type="button"  onclick="location.href = '18-ViewIE_RR.html';"  style="width: 100%;">View <i class="fa fa-eye" aria-hidden="true"></i>   </button> </td>
                                                
                                                   
                                                   
                                                   
                                                   
       
                                            </tr>   
                             
 <tr   class="key4Spliter" >
                                      <td></td>
                                              <td></td>  <td></td>  <td></td>  <td></td>  <td></td>  <td></td>    
                                                   
                                                   
                                                   
                                                   
       
                                            </tr>     
                                            
                                            
                 
                <tr   class=" key3">
                                                <td>
                                            <input type="checkbox" class="MyCheckBox" ng-model="personalDetail.selected"/></td>
                                                <td>  C0487</td>
                                                <td> Research Plaza </td>
                                                <td> The Realty Associates Fund VIII</td>
                                                <td> Mary McCarthy </td>
                                                <td  > <button  class="btn-uploadIERR" type="button"  onclick="location.href = '22-UploadManual.html';" style="width: 100%;">Upload <i class="fa fa-upload" aria-hidden="true"></i>   </button>
                                                   </td>
                                                   
                                                <td  > <button  class="btn-viewIERR" type="button"  onclick="location.href = '18-ViewIE_RR.html';"  style="width: 100%;">View <i class="fa fa-eye" aria-hidden="true"></i>   </button> </td>
                                                
                                                   
                                                   
                                                   
                                                   
       
                                            </tr>                 
                 <tr   class=" key3">
                                                <td>
                                            <input type="checkbox" class="MyCheckBox" ng-model="personalDetail.selected"/></td>
                                                <td>   C0487</td>
                                                <td> Research Plaza </td>
                                                <td> The Realty Associates Fund VIII</td>
                                                <td> Mary McCarthy </td>
                                                <td  > <button  class="btn-uploadIERR" type="button"  onclick="location.href = '22-UploadManual.html';" style="width: 100%;">Upload <i class="fa fa-upload" aria-hidden="true"></i>   </button>
                                                   </td>
                                                   
                                                <td  > <button  class="btn-viewIERR" type="button"  onclick="location.href = '18-ViewIE_RR.html';"  style="width: 100%;">View <i class="fa fa-eye" aria-hidden="true"></i>   </button> </td>
                                                
                                                   
                                                   
                                                   
                                                   
       
                                            </tr>         
                                            
                                            
                                                             
 <tr   class="clickable key2" data-toggle="collapse" id="row2" data-target=".row3">
                                                <td>
                                            <input type="checkbox" class="MyCheckBox" ng-model="personalDetail.selected"/></td>
                                                <td><i class="glyphicon glyphicon-plus"></i> C0487</td>
                                                <td> Research Plaza </td>
                                                <td> The Realty Associates Fund VIII</td>
                                                <td> Mary McCarthy </td>
                                                <td  > <button  class="btn-uploadIERR" type="button"  onclick="location.href = '22-UploadManual.html';" style="width: 100%;">Upload <i class="fa fa-upload" aria-hidden="true"></i>   </button>
                                                   </td>
                                                   
                                                <td  > <button  class="btn-viewIERR" type="button"  onclick="location.href = '18-ViewIE_RR.html';"  style="width: 100%;">View <i class="fa fa-eye" aria-hidden="true"></i>   </button> </td>
                                                
                                                   
                                                   
                                                   
                                                   
       
                                            </tr>         
    <tr   class="collapse row3 key2">
                                                <td>
                                            <input type="checkbox" class="MyCheckBox" ng-model="personalDetail.selected"/></td>
                                                <td>  C0487</td>
                                                <td> Research Plaza </td>
                                                <td> The Realty Associates Fund VIII</td>
                                                <td> Mary McCarthy </td>
                                                <td  > <button  class="btn-uploadIERR" type="button"  onclick="location.href = '22-UploadManual.html';" style="width: 100%;">Upload <i class="fa fa-upload" aria-hidden="true"></i>   </button>
                                                   </td>
                                                   
                                                <td  > <button  class="btn-viewIERR" type="button"  onclick="location.href = '18-ViewIE_RR.html';"  style="width: 100%;">View <i class="fa fa-eye" aria-hidden="true"></i>   </button> </td>
                                                
                                                   
                                                   
                                                   
                                                   
       
                                            </tr>                                     
    <tr   class="collapse row3 key2">
                                                <td>
                                            <input type="checkbox" class="MyCheckBox" ng-model="personalDetail.selected"/></td>
                                                <td>  C0487</td>
                                                <td> Research Plaza </td>
                                                <td> The Realty Associates Fund VIII</td>
                                                <td> Mary McCarthy </td>
                                                <td  > <button  class="btn-uploadIERR" type="button"  onclick="location.href = '22-UploadManual.html';" style="width: 100%;">Upload <i class="fa fa-upload" aria-hidden="true"></i>   </button>
                                                   </td>
                                                   
                                                <td  > <button  class="btn-viewIERR" type="button"  onclick="location.href = '18-ViewIE_RR.html';"  style="width: 100%;">View <i class="fa fa-eye" aria-hidden="true"></i>   </button> </td>
                                                
                                                   
                                                   
                                                   
                                                   
       
                                            </tr>   
    <tr   class="key4Spliter" >
                                      <td></td>
                                              <td></td>  <td></td>  <td></td>  <td></td>  <td></td>  <td></td>    
                                                   
                                                   
                                                   
                                                   
       
                                            </tr>                            
                                           
                                            
                                        </tbody>
                                    </table>




                                </div>

                                <button nclick="location.href = '12-Sent-Invites.html';" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-user pull-right" style="margin-right: 20px;">Save Data</button>

                            </div>





                        </div>
                    </div>






                </div>




            </div>






        </div>


    </div>










    <!-- Footer -->
    <footer class="text-center">Copyrights - 2017</footer>



    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
    </script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>



    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>






    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>




    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js"></script>


    <!--

<script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
-->

    <!--<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.jqueryui.min.js"></script>-->
    <!--

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>

<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.colVis.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>


<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>

<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>










</body>

</html>
