<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AOTC</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">

    <style>
        .dataTables_wrapper .ui-toolbar {
            padding: 0px;
            BACKGROUND: #f5f5f5;
        }
        
        
        /*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/
    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;     
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;    background: #47bcff;
        
    color: #fff;
        padding: 15px;
        text-decoration: none;
    }

    .more-less {
        float: right;
       
    color: #fff;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

 
 
              
        input[type="checkbox"] {
      display: block !important;
    z-index: 1111111; 
    float: left !Important; 
    margin: 16px 14px 0px 20px; 
            
            
}
         
 .btn-user:hover, .btn-user:focus, .btn-user.focus {
    margin-right: 0px !important;
    color: #eee !important;
}
        
        
       
        
    </style>
 
 

 

    <link rel="stylesheet" href="assets/css/main.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>






    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.jqueryui.min.css">

    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

 
</head>

<body style="    background-color: #f5f5f5;">

 <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="#"><img src="assets/img/logo.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="header-btn">
                    <ul>
                        <li id="prp" class="metro-header">
                            <a href="#"> <span class="image-pr"></span> <span>Property</span></a>
                        </li>
                        <li class="metro-header">
                            <a href="#"> <span class="image-de"></span> <span>Designee</span></a>
                        </li>
                        <li class="metro-header">
                            <a href="#"> <span class="image-no"></span> <span>Notification</span></a>
                        </li>
                        <li class="metro-header">
                            <a href="#"> <span class="image-lg"></span> <span>Logs</span></a>
                        </li>
                        <li class="dropdown" class="metro-header welcome" >
                            <a class=" dropdown-toggle"   data-toggle="dropdown" href="#" style="padding: 0px 15px 0px 15px;"> <span class="image-ph"></span>   Welcome Annie </a>
                        
                        
                          <ul class="dropdown-menu">
    <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
    <li><a href="#"><i class="fa fa-question" aria-hidden="true"></i> AOTC Help</a></li>
    <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
  </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="prop-fixd text-center">
        <ul>
            <li> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> <b>Account Number:</b> 215491 </li>
            <li> <i class="fa fa-location-arrow" aria-hidden="true"></i><b> Property:</b> MARLBORO INVESTORS LLC</li>
            <li> <i class="fa fa-map-marker" aria-hidden="true"></i><b> Address:</b> 5700, CRAIN HYW, SE upper Marlboro, MD 20772 </li>
        </ul>
    </div>
  <br>  
        
  
        <div class="row ">

 
            <div class="col-md-12">
   <div class="panel panel-primary IE_RR">
                    <div class="panel-heading">
                        <h5>  <strong> Property Details </strong>
                        
                        
                  
                        
                        </h5>
                        
   
                        
                    </div>
               
                        
                      
    
                
                
                <br>
                   <div class="user-reg IE_RRR">
                            
                           
                       
                 
                       
                       
                            
                            
                      <div class="row">
        <div class="col-md-12" style="padding: 0px;" >
            <div class="panel with-nav-tabs panel-primary" style=" margin-bottom: 0px;">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1primary" data-toggle="tab">Income Expense Statement Data</a></li>
                            <li><a href="#tab2primary" data-toggle="tab">Rent Role Report Data</a></li>
                            
                            <li><a href="#tab3primary" data-toggle="tab">Others</a></li>
                             
                                </ul>
                
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1primary">
                          
 
                            
                            
                            
                            
                            
                            
                
  <br>
                    
                            
                            
                            
                            
   <div id="paragraphs">
    
    <div class="pak" style="position: absolute; left: -1143px; z-index: 2; height: 618px; transition: left 1s;">
        <h5 class="custom-slider">Reduced Data</h5>
         <table class="table table-striped table-bordered table-condensed " class="display responsive no-wrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Data Fields </th>
                               
                                
                                <th class="StayOpena">    
                                                
                                    
                                     
                                    
                                    
                                    CY14 <i class="fa fa-info-circle text-primary" aria-hidden="true"></i>
                         
                                     
                                    
                                </th>
                                
                                
                                <th class="StayOpena">CY14 <i class="fa fa-info-circle text-primary" aria-hidden="true"></i> </th>
                                <th class="StayOpena">CY14 <i class="fa fa-info-circle text-primary" aria-hidden="true"></i> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Total Revenues</td>
                                <td>1,736,959.15</td>
                                <td>1,702,853.69</td>
                                <td>1,785,357.32</td>
                            </tr>
                            <tr>
                                <td>Total Building Repairs & Maintenance</td>
                                <td>140,813</td>
                                <td>133,776</td>
                                <td>133,995</td>
                            </tr>
                            <tr>
                                <td>Total Janitorial</td>
                                <td>102,034</td>
                                <td>98,301</td>
                                <td>109,457</td>
                            </tr>
                            <tr>
                                <td>Total Common Area Maintenance</td>
                                <td>92,285</td>
                                <td>97,882</td>
                                <td>73,770</td>
                            </tr>
                            <tr>
                                <td>Total Utilities</td>
                                <td>283,911</td>
                                <td>278,998</td>
                                <td>240,196</td>
                            </tr>
                            <tr>
                                <td>Total Payroll</td>
                                <td>100,795</td>
                                <td>106,943</td>
                                <td>110,800</td>
                            </tr>
                            <tr>
                                <td>Total Property Management Fees</td>
                                <td>43,294</td>
                                <td>42,309</td>
                                <td>45,465</td>
                            </tr>
                            <tr>
                                <td>Total Insurance</td>
                                <td>15,783</td>
                                <td>14,509</td>
                                <td>13,752</td>
                            </tr>
                            <tr>
                                <td>Total Other</td>
                                <td>211</td>
                                <td>110</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td> TOTAL MARKETING EXPENSES</td>
                                <td>4,053</td>
                                <td>4,087</td>
                                <td>3,663</td>
                            </tr>
                            <tr>
                                <td>Total Administrative Expenses</td>
                                <td>20,510</td>
                                <td>15,555</td>
                                <td>8,278</td>
                            </tr>
                            <tr>
                                <td>Total Property Expenses</td>
                                <td>803,687</td>
                                <td>792,469</td>
                                <td>739,376</td>
                            </tr>
                            <tr>
                                <td>Total Property Net Operating Income</td>
                                <td>933,272</td>
                                <td>910,385</td>
                                <td>1,045,982</td>
                            </tr>
                        </tbody>
                    </table>
      
    </div>
       <div class="pak ">
           <h5 class="custom-slider">IE Statements</h5>
          <div class="row demo">

            <span class="pull-right" style="margin-bottom: -8px; mar gin-right: 20px;">
                     
                                       
            
                    
                     
                </span> 
                         
                         
                         
                 <div class="clearfix"></div>        
                                  
                 <br>  
                         
                         
    <div class="panel-group"  id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                     <input   class="MyCheckBox pull-right"  type="checkbox" ng-model="personalDetail.selected"/>
                    
                    
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="more-less glyphicon glyphicon-minus"></i>
                     
                            Income Expense Statement 1 Data
                    </a>
                </h4>
            </div>
            
            
            
            
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    
 

        <table class="table table-bordered table-st riped RR-Table" >
                  
      
                    <tbody>
                      <tr>
                        <td>Base Rent</td>
                        <td>543646.54</td>
                           <td> Rental Income </td>
                        <td>670327.22  </td>
                      </tr>
                        
                        
                       
                        
                        
                           <tr>
                        <td>Miscellaneous Income  </td>
                        <td> 1194.22 </td>
                                  <td>Parking Income  </td>
                        <td>23409.61  </td>
                      </tr>
                        
                        
                       
                        
                        
                           <tr>
                        <td>Total Income  </td>
                        <td>694931.05  </td>
                                  <td>Total Personnel  </td>
                        <td>66617.3 </td>
                      </tr>
                     
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                            <tr>
                        <td>Total Utilities  </td>
                        <td>68958.66  </td>
                                   <td>Total Contracted Services  </td>
                        <td>46055.38  </td>
                      </tr>
                     
                        
                        
                        
                     
                        
                        
                            <tr>
                        <td>Total Maintenance  </td>
                        <td>11418.16  </td>
                                     <td>Total Administrative  </td>
                        <td>23717.09  </td>
                      </tr>
                     
                        
                        
                        
                      
                        
                        
                        
                        
                             <tr>
                        <td>Real Estate Taxes  </td>
                        <td>92077.71 </td>
                                     <td>Total Taxes and Insurance  </td>
                        <td>105828.64  </td>
                      </tr>
                     
                        
                        
                        
                       
                     
                        
                        
                        
                        
                            <tr>
                        <td>Total Operating Exp-recoverable  </td>
                        <td>322595.23 </td>
                                        <td>Total Operating Exp-unrecoverable  </td>
                        <td>101773.37 </td>
                      </tr>
                     
                        
                      
                        
                             <tr>
                        <td>Total Expenses  </td>
                        <td>424368.6 </td>
                                        <td>Cash Flow - Net Income </td>
                        <td>270562.46</td>
                      </tr>
                     
                        
                        
                        
             
                        
                        
                        
                        
                        
                        
                        
                        
                    </tbody>
        </table>
 
                    
                    
                
                    <a class="action-bottom"  data-toggle="modal" data-target="#myModalquestion" href="#" ><i class="fa fa-chain-broken" aria-hidden="true"></i>  Unlink this statement  </a>
                        
                        
                       
                         <div id="myModalquestion" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="background-color: #ffffff; color: #555;">
                <div class="modal-header" style=" background: #ff694c !important;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title text-left" style="color:#fff;"> <img height="35" src="assets/img/error.png" >  Unlink this statement</h5> </div>
                <div class="modal-body">
           
                     
                    <div class="js-upload-finished text-left">
                        <h5> Are your sure to unlink file form this property ?</h5> 
                        
                        
                        
                        
                        
                    </div>
                    
                    
                    
                    
                    
                     <button data-dismiss="modal" type="button" class="btn btn-danger  pull-right" style="margin: 12px; z-index:111; ">No</button>
                 
                
                    <button data-dismiss="modal" type="button" class="btn btn-success  pull-right" style="margin: 12px; z-index:111; ">Yes</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
                     
                    
			 
                    
                    
                    
                    
                    
                    
                    
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    
                      <input   class="MyCheckBox pull-right" type="checkbox" ng-model="personalDetail.selected"/>
                    
                    
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        Income Expense Statement 2 Data
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                
                
                
                
                
                
                
                
                
                
                
                <div class="panel-body">
       

        <table class="table table-bordered table-striped" >
                  
                    
              <thead class="thead-inverse">
                <tr>
                  <th>Data Field</th>
                  <th>Value</th>
                  <th>Data Field</th>
                  <th>Value</th>
                </tr>
              </thead>
          
                    <tbody>
                      <tr>
                        <td>Base Rent</td>
                        <td>543646.54</td>
                           <td> Rental Income </td>
                        <td>670327.22  </td>
                      </tr>
                        
                        
                       
                        
                        
                           <tr>
                        <td>Miscellaneous Income  </td>
                        <td> 1194.22 </td>
                                  <td>Parking Income  </td>
                        <td>23409.61  </td>
                      </tr>
                        
                        
                       
                        
                        
                           <tr>
                        <td>Total Income  </td>
                        <td>694931.05  </td>
                                  <td>Total Personnel  </td>
                        <td>66617.3 </td>
                      </tr>
                     
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                            <tr>
                        <td>Total Utilities  </td>
                        <td>68958.66  </td>
                                   <td>Total Contracted Services  </td>
                        <td>46055.38  </td>
                      </tr>
                     
                        
                        
                        
                     
                        
                        
                            <tr>
                        <td>Total Maintenance  </td>
                        <td>11418.16  </td>
                                     <td>Total Administrative  </td>
                        <td>23717.09  </td>
                      </tr>
                     
                        
                        
                        
                      
                        
                        
                        
                        
                             <tr>
                        <td>Real Estate Taxes  </td>
                        <td>92077.71 </td>
                                     <td>Total Taxes and Insurance  </td>
                        <td>105828.64  </td>
                      </tr>
                     
                        
                        
                        
                       
                     
                        
                        
                        
                        
                            <tr>
                        <td>Total Operating Exp-recoverable  </td>
                        <td>322595.23 </td>
                                        <td>Total Operating Exp-unrecoverable  </td>
                        <td>101773.37 </td>
                      </tr>
                     
                        
                      
                        
                             <tr>
                        <td>Total Expenses  </td>
                        <td>424368.6 </td>
                                        <td>Cash Flow - Net Income </td>
                        <td>270562.46</td>
                      </tr>
                     
                        
                        
                        
             
                        
                        
                        
                        
                        
                        
                        
                        
                    </tbody>
        </table>

       
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                      <input   class="MyCheckBox pull-right" type="checkbox" ng-model="personalDetail.selected"/>
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        Income Expense Statement 3 Data
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
       

        <table class="table table-bordered table-striped" >
                  
                    
              <thead class="thead-inverse">
                <tr>
                  <th>Data Field</th>
                  <th>Value</th>
                  <th>Data Field</th>
                  <th>Value</th>
                </tr>
              </thead>
          
                    <tbody>
                      <tr>
                        <td>Base Rent</td>
                        <td>543646.54</td>
                           <td> Rental Income </td>
                        <td>670327.22  </td>
                      </tr>
                        
                        
                       
                        
                        
                           <tr>
                        <td>Miscellaneous Income  </td>
                        <td> 1194.22 </td>
                                  <td>Parking Income  </td>
                        <td>23409.61  </td>
                      </tr>
                        
                        
                       
                        
                        
                           <tr>
                        <td>Total Income  </td>
                        <td>694931.05  </td>
                                  <td>Total Personnel  </td>
                        <td>66617.3 </td>
                      </tr>
                     
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                            <tr>
                        <td>Total Utilities  </td>
                        <td>68958.66  </td>
                                   <td>Total Contracted Services  </td>
                        <td>46055.38  </td>
                      </tr>
                     
                        
                        
                        
                     
                        
                        
                            <tr>
                        <td>Total Maintenance  </td>
                        <td>11418.16  </td>
                                     <td>Total Administrative  </td>
                        <td>23717.09  </td>
                      </tr>
                     
                        
                        
                        
                      
                        
                        
                        
                        
                             <tr>
                        <td>Real Estate Taxes  </td>
                        <td>92077.71 </td>
                                     <td>Total Taxes and Insurance  </td>
                        <td>105828.64  </td>
                      </tr>
                     
                        
                        
                        
                       
                     
                        
                        
                        
                        
                            <tr>
                        <td>Total Operating Exp-recoverable  </td>
                        <td>322595.23 </td>
                                        <td>Total Operating Exp-unrecoverable  </td>
                        <td>101773.37 </td>
                      </tr>
                     
                        
                      
                        
                             <tr>
                        <td>Total Expenses  </td>
                        <td>424368.6 </td>
                                        <td>Cash Flow - Net Income </td>
                        <td>270562.46</td>
                      </tr>
                     
                        
                        
                        
             
                        
                        
                        
                        
                        
                        
                        
                        
                    </tbody>
        </table>
 </div>
            </div>
       
        </div>

    </div><!-- panel-group -->
    
    
</div> 
    </div>
     <div class="pak">
        <h5 class="custom-slider">Reduced Data</h5>
         <table class="table table-striped table-bordered table-condensed " class="display responsive no-wrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Data Fields </th>
                               
                                
                                <th class="StayOpena">    
                                                
                                    
                                     
                                    
                                    
                                    CY14 <i class="fa fa-info-circle text-primary" aria-hidden="true"></i>
                         
                                     
                                    
                                </th>
                                
                                
                                <th class="StayOpena">CY14 <i class="fa fa-info-circle text-primary" aria-hidden="true"></i> </th>
                                <th class="StayOpena">CY14 <i class="fa fa-info-circle text-primary" aria-hidden="true"></i> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Total Revenues</td>
                                <td>1,736,959.15</td>
                                <td>1,702,853.69</td>
                                <td>1,785,357.32</td>
                            </tr>
                            <tr>
                                <td>Total Building Repairs & Maintenance</td>
                                <td>140,813</td>
                                <td>133,776</td>
                                <td>133,995</td>
                            </tr>
                            <tr>
                                <td>Total Janitorial</td>
                                <td>102,034</td>
                                <td>98,301</td>
                                <td>109,457</td>
                            </tr>
                            <tr>
                                <td>Total Common Area Maintenance</td>
                                <td>92,285</td>
                                <td>97,882</td>
                                <td>73,770</td>
                            </tr>
                            <tr>
                                <td>Total Utilities</td>
                                <td>283,911</td>
                                <td>278,998</td>
                                <td>240,196</td>
                            </tr>
                            <tr>
                                <td>Total Payroll</td>
                                <td>100,795</td>
                                <td>106,943</td>
                                <td>110,800</td>
                            </tr>
                            <tr>
                                <td>Total Property Management Fees</td>
                                <td>43,294</td>
                                <td>42,309</td>
                                <td>45,465</td>
                            </tr>
                            <tr>
                                <td>Total Insurance</td>
                                <td>15,783</td>
                                <td>14,509</td>
                                <td>13,752</td>
                            </tr>
                            <tr>
                                <td>Total Other</td>
                                <td>211</td>
                                <td>110</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td> TOTAL MARKETING EXPENSES</td>
                                <td>4,053</td>
                                <td>4,087</td>
                                <td>3,663</td>
                            </tr>
                            <tr>
                                <td>Total Administrative Expenses</td>
                                <td>20,510</td>
                                <td>15,555</td>
                                <td>8,278</td>
                            </tr>
                            <tr>
                                <td>Total Property Expenses</td>
                                <td>803,687</td>
                                <td>792,469</td>
                                <td>739,376</td>
                            </tr>
                            <tr>
                                <td>Total Property Net Operating Income</td>
                                <td>933,272</td>
                                <td>910,385</td>
                                <td>1,045,982</td>
                            </tr>
                        </tbody>
                    </table>
      
    </div>
   </div>           
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
               
                                
                        
                                
                            </div>
                        <div class="tab-pane fade" id="tab2primary"> <div class="row">
<div class="demo">

    
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default ">
            <div class="panel-heading" role="tab" id="headingOnerr" >
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOnerr" aria-expanded="true" aria-controls="collapseOnerr">
                        <i class="more-less glyphicon glyphicon-minus"></i>
                       Rent Role 1 Data
                    </a>
                </h4>
            </div>
            <div id="collapseOnerr" class="panel-collapse  collapse in" role="tabpanel" aria-labelledby="headingOnerr" >
                <div class="panel-body">
                     
 

       
       
       
        <table class="table table-bordered table-striped" >
                  
                    
              <thead class="thead-inverse">
                <tr>
                    <th>Data Field</th>
                    <th>Value</th>
                 
                     
                </tr>
              </thead>
          
                    <tbody>
                      <tr>
                        <td>As Of Date</td>
                          
                           <td>12/31/2014	</td>
                         
                      </tr>
                        
                        
                        
                        <tr>
                        <td>Report Creation Date</td>
                          
                           <td>	Nov 25 2014 6:32AM	</td>
                         
                      </tr>
                        
                        
                       
                        
                        
                         <tr>
                        <td> Base Rent</td>
                          
                           <td>	44965.88	</td>
                         
                      </tr>
          
                        
                        
                           <tr>
                        <td> Gross Rent Monthly</td>
                          
                           <td>	56299.81	</td>
                         
                      </tr>
                        
                        
                        
                        
                        
                        
                              <tr>
                        <td>  Gross Rent Per SF/Year</td>
                          
                           <td>	56299.81	</td>
                         
                      </tr>
                        
                        
                        
                         
                              <tr>
                        <td>Total SF</td>
                          
                           <td>88467</td>
                         
                      </tr>
                        
                        
                        
                        
                        
                        
                        
                                  <tr>
                        <td>Vacant SF</td>
                          
                           <td>	49485</td>
                         
                      </tr>
                        
                        
                        
                        
                        
                                  <tr>
                        <td>Vacant Percentage</td>
                          
                           <td>	55.94</td>
                         
                      </tr>
                        
                        
                        
                        
                        
                    </tbody>
        </table>
       
                    
                    
                    <br>
     <h4>Tenants</h4>
 <table class="table table-bordered table-striped" >
              <thead class="thead-inverse">
                <tr>
                  <th>Unit</th>
                  <th>Tenants</th>
                  <th>Square Feet</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Base Rent Monthly</th>
                  
                   <th>Base Rent Annualized</th>
        <th>Base Rent SF</th>
       
         <th>Rolling 12 Months</th>
        <th>Rolling Per SF/Yr</th>
        <th>Gross Rent Monthly</th>
         <th>Gross Rent SF</th>
                </tr>
              </thead>
          
                    <tbody>
                      <tr>
                       <td> 125</td>
        <td> Surgery Center of Rockville (t0008225)</td>
        <td> 8982</td>
        <td> 11/12/2004</td>
        <td> 11/30/2019</td>
        <td>12455.88</td>
                          
                          <td> 149470.56</td>
                          <td>16.64</td>
                          
                          <td> 149772.62</td>
        <td> 16.67</td>
                   
                           <td> 18036.14</td>
        <td> 24.10</td>
                   
                      </tr>
                        
     </tbody></table>
       

       
                </div>
            </div>
        </div>

        

    </div><!-- panel-group -->
    
    
</div><!-- container -->
                                

                            </div></div>
                        
                        
                         <div class="tab-pane fade" id="tab3primary"> <div class="row">
<div class="demo">

   <table   class="table table-striped table-bordered table-condensed"  class="display responsive no-wrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Date Uploaded</th>
                            <th>Action    </th>
                      

                        </tr>
                    </thead>
        
                    <tbody>
                        <tr>
                            <td>Mail hall 2.00 chock city.xlcx</td>
                            <td>4/12/2017</td>
                            <td> <a href=""   class="btn btn-user" style="width:200px;     background-image: linear-gradient(to bottom,#47bcff 0,#47bcff 100%); border: none !Important;"> Link File to this property </a></td>
                      
 



                        </tr>
                            
                         <tr>
                            <td>Mail hall 2.00 chock city.xlcx</td>
                            <td>4/12/2017</td>
                           <td> <a href="#"  data-toggle="modal" data-target="#myModal" class="btn btn-user" style="width:200px;     background-image: linear-gradient(to bottom,#47bcff 0,#47bcff 100%); border: none !Important;"> Link File to this property </a></td>
                      
 



                        </tr>
                        
 
                         <tr>
                            <td>Mail hall 2.00 chock city.xlcx</td>
                            <td>4/12/2017</td>
                           <td> <a href="#"  data-toggle="modal" data-target="#myModal" class="btn btn-user" style="width:200px;     background-image: linear-gradient(to bottom,#47bcff 0,#47bcff 100%); border: none !Important;"> Link File to this property </a></td>
                      
 



                        </tr>
                        

                        
                    </tbody>
                </table>
    
</div><!-- container -->
                                

                            </div></div>
                        
                    </div>
                </div>
            </div>
        </div>
                 
                          
	</div>       
                            
                   

                        </div>
                
                
                
                </div>

                  
                   
         


                     
                        
  
                 





 


            </div>

 
 </div>

 
    <!-- Footer -->
    <footer class="text-center">Copyrights - 2017</footer>
 
<script type="text/javascript" src="cascadingDivs.js"></script>
 

    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
    </script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>



    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>






    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>




    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js"></script>


    <!--

<script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
-->

    <!--<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.jqueryui.min.js"></script>-->
    <!--

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>

<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.colVis.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>


<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>

<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>










</body>

</html>
