<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AOTC</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">

    <style>
        .dataTables_wrapper .ui-toolbar {
            padding: 0px;
            BACKGROUND: #f5f5f5;
        }
        
        .btn-success:hover, .btn-success:focus {
    background-color: #3174ae;
    background-position: 0 -15px;
}
    </style>


    <link rel="stylesheet" href="assets/css/main.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>






    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.jqueryui.min.css">

    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
         input[type="checkbox"] {
        display: block !important;
    }


</style>
</head>

<body style="    background-color: #f5f5f5;">


    <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="http://aotc.mybluemix.net/#!/main"><img src="assets/img/logo.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="header-btn">
                    <ul>
                        <li id="prp" class="metro-header">
                            <a href="#"> <span class="image-pr"></span>  <span>Property</span></a>
                        </li>
                        <li class="metro-header">
                            <a href="#"> <span class="image-de"></span> <span>Designee</span></a>
                        </li>
                        <li class="metro-header">
                            <a href="#"> <span class="image-no"></span>  <span>Notification</span></a>
                        </li>
                        <li class="metro-header">
                            <a href="#"> <span class="image-lg"></span>  <span>Logs</span></a>
                        </li>
                        <li class="metro-header welcome">
                            <a href="#" style="color: #fff;     padding: 0px 15px 0px 15px;"> <span class="image-ph"></span>  <span>Welcome Annie</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

 
        <br>  
 
    
    
 
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #ffffff; color: #555;">
            <div class="modal-header" style=" background: #000c35 !important;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title text-ce nter" style="color:#fff;">Link file to a property</h5>
            </div>
            <div class="modal-body">
			 <h5>File Name: Mail hall 2.00 chock city.xlcx </h5>  
                
          <table   class="table table-striped table-bordered table-condensed"  class="display responsive no-wrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Select a Property to link the file</th> 
                             
                      

                        </tr>
                    </thead>
        
                    <tbody>
                        <tr>
                            <td> <input type="checkbox" class="MyCheckBox pull-left" ng-model="personalDetail.selected"/> &nbsp &nbsp Mail hall 2.00 chock city.xlcx</td>
                  

                        </tr>
                        
                           
                        
 
                             <tr>
                            <td> <input type="checkbox" class="MyCheckBox pull-left" ng-model="personalDetail.selected"/> &nbsp &nbsp Mail hall 2.00 chock city.xlcx</td>
                  

                        </tr>
                        
                        
                             <tr>
                            <td> <input type="checkbox" class="MyCheckBox pull-left" ng-model="personalDetail.selected"/> &nbsp &nbsp Mail hall 2.00 chock city.xlcx</td>
                  

                        </tr>
                        
                        
                             <tr>
                            <td> <input type="checkbox" class="MyCheckBox pull-left" ng-model="personalDetail.selected"/> &nbsp &nbsp Mail hall 2.00 chock city.xlcx</td>
                  

                        </tr>
                        

                        
                    </tbody>
                </table>
                
                
                <br>
                
                
                
                 <a href="#"  data-toggle="modal" data-target="#myModal" class="btn btn-success pull-right" style="width:200px; background-image: linear-gradient(to bottom,#47bcff 0,#3071aa 100%); border: none !Important;"> Link to selected property  </a>
                
                
                
                <div class="clearfix"></div>
                
                
                
                
                            </div>
 
                 
 
                
                 
                
                
                              
                
                
            </div>
        </div>
    </div>
 

<div id="myModalquestion" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="background-color: #ffffff; color: #555;">
            <div class="modal-header" style=" background: #000c35 !important;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title text-ce nter" style="color:#fff;">Are you sure ? </h5>
            </div>
            <div class="modal-body text-center">
				 
              
          <h4>Would you like to remove this file from AOTC ?</h4>
     
          
                 
                            
<button  data-dismiss="modal"   type="button" class="btn btn-user  pull-center" style="margin: 12px; z-index:111; background: #F44336; !Important">Delete</button>  
                
                                        
<button data-dismiss="modal"  type="button" class="btn btn-user  pull-center" style="margin: 12px; z-index:111; ">Cancel</button> 
                
                
   
                    <div class="clearfix"></div>
                   
                
            </div>
        </div>
    </div>
</div>
    
    
    

 

<div class="container">
    <br>
    <br>
    <div class="row">
        
        
        <div class="col-md-12" ng-show="unlinkedProperties.IEtableData.length   0" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>   <strong>UnLinked Files</strong></h5>
                </div>
                <div class="panel-body drop-file">
                    <div class="user-reg">
                        <div class="row">
                            <div class="col-md-12  up-sec parsefile">
                                     <table   class="table table-striped table-bordered table-condensed"  class="display responsive no-wrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Date Uploaded</th>
                            <th>Action    </th>
                      

                        </tr>
                    </thead>
        
                    <tbody>
                        <tr>
                            <td>Mail hall 2.00 chock city.xlcx</td>
                            <td>4/12/2017</td>
                            <td> <a href="#"  data-toggle="modal" data-target="#myModal" class="btn btn-success" style="width:100px; background-image: linear-gradient(to bottom,#47bcff 0,#3071aa 100%); border: none !Important;"> Link File </a></td>
                      
 



                        </tr>
                        
                            
                         <tr>
                            <td>Mail hall 2.00 chock city.xlcx</td>
                            <td>4/12/2017</td>
                            <td> <a href="#"  data-toggle="modal" data-target="#myModal" class="btn btn-success" style="width:100px; background-image: linear-gradient(to bottom,#47bcff 0,#3071aa 100%); border: none !Important;"> Link File </a></td>
                      
 



                        </tr>
                        
 
                         <tr>
                            <td>Mail hall 2.00 chock city.xlcx</td>
                            <td>4/12/2017</td>
                            <td> <a href="#"  data-toggle="modal" data-target="#myModal" class="btn btn-success" style="width:100px; background-image: linear-gradient(to bottom,#47bcff 0,#3071aa 100%); border: none !Important;"> Link File </a></td>
                      
 



                        </tr>
                        

                        
                    </tbody>
                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-show="unlinkedProperties.RRtableData.length   0">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>   <strong>UnParsed Files</strong></h5>
                </div>
                <div class="panel-body drop-file">
                    <div class="user-reg">
                        <div class="row">
                            <div class="col-md-12  up-sec parsefile">
                        <table   class="table table-striped table-bordered table-condensed"  class="display responsive no-wrap" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>File Name </th>
                                                <th>Date Uploaded</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="files in unlinkedProperties.IEtableData">
                                                <td>Mail hall 2.00 chock city.xlcx</td>
                                                <td>4/12/2017</td>
                                                <td><a href="#"  data-toggle="modal" data-target="#myModalquestion" class="btn btn-danger" style="width:100px;"> Remove File</a></td>
                                            </tr>
                                            
                                            
                                            
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-show="unlinkedProperties.RRtableData.length   0">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>   <strong>Courpt Files</strong></h5>
                </div>
                <div class="panel-body drop-file">
                    <div class="user-reg">
                        <div class="row">
                            <div class="col-md-12  up-sec parsefile">
                                   <table   class="table table-striped table-bordered table-condensed"  class="display responsive no-wrap" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>File Name </th>
                                                <th>Date Uploaded</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="files in unlinkedProperties.IEtableData">
                                                <td>Mail hall 2.00 chock city.xlcx</td>
                                                <td>4/12/2017</td>
                                                <td><a href="#"  data-toggle="modal" data-target="#myModalquestion" class="btn btn-danger" style="width:100px;"> Remove File</a></td>
                                            </tr>
                                            <tr ng-repeat="files in unlinkedProperties.IEtableData">
                                                <td>Mail hall 2.00 chock city.xlcx</td>
                                                <td>4/12/2017</td>
                                                <td><a href="#"  data-toggle="modal" data-target="#myModalquestion" class="btn btn-danger" style="width:100px;"> Remove File</a></td>
                                            </tr>
                                             <tr ng-repeat="files in unlinkedProperties.IEtableData">
                                                <td>Mail hall 2.00 chock city.xlcx</td>
                                                <td>4/12/2017</td>
                                                <td><a href="#"  data-toggle="modal" data-target="#myModalquestion" class="btn btn-danger" style="width:100px;"> Remove File</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
    </div>
</div>








    <!-- Footer -->
    <footer class="text-center">Copyrights - 2017</footer>



    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
    </script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>



    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>






    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>




    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js"></script>


 





</body>

</html>
